[Desktop Entry]
Type=Application
Terminal=false
Name=wayland-ptt
GenericName=wayland-ptt
Comment=Enables push-to-talk (PTT) in X11 apps running under XWayland
Exec=/usr/bin/wayland-ptt /dev/input/by-id/<device-id>
